<div class="container-fluid pt-4 pt-sm-5">
  <div class="d-flex justify-content-between mb-4 mb-sm-0">
    <a routerLink="thanks" class="navbar-link">Благодарность</a>
    <a href="https://vk.com/gundoneee"  class="socials-link">
      <svg width="35px" height="35px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
        <circle cx="512" cy="512" r="512" style="fill:#2787f5"/>
        <path d="M585.83 271.5H438.17c-134.76 0-166.67 31.91-166.67 166.67v147.66c0 134.76 31.91 166.67 166.67 166.67h147.66c134.76 0 166.67-31.91 166.67-166.67V438.17c0-134.76-32.25-166.67-166.67-166.67zm74 343.18h-35c-13.24 0-17.31-10.52-41.07-34.62-20.71-20-29.87-22.74-35-22.74-7.13 0-9.17 2-9.17 11.88v31.57c0 8.49-2.72 13.58-25.12 13.58-37 0-78.07-22.4-106.93-64.16-43.45-61.1-55.33-106.93-55.33-116.43 0-5.09 2-9.84 11.88-9.84h35c8.83 0 12.22 4.07 15.61 13.58 17.31 49.9 46.17 93.69 58 93.69 4.41 0 6.45-2 6.45-13.24v-51.6c-1.36-23.76-13.92-25.8-13.92-34.28 0-4.07 3.39-8.15 8.83-8.15h55c7.47 0 10.18 4.07 10.18 12.9v69.58c0 7.47 3.39 10.18 5.43 10.18 4.41 0 8.15-2.72 16.29-10.86 25.12-28.17 43.11-71.62 43.11-71.62 2.38-5.09 6.45-9.84 15.28-9.84h35c10.52 0 12.9 5.43 10.52 12.9-4.41 20.37-47.18 80.79-47.18 80.79-3.73 6.11-5.09 8.83 0 15.61 3.73 5.09 16 15.61 24.1 25.12 14.94 17 26.48 31.23 29.53 41.07 3.45 9.84-1.65 14.93-11.49 14.93z" style="fill:#fff"/>
      </svg>
    </a>
  </div>
  <h1 class="main-header">SAMP SKINS</h1>
  <h2 class="main-header-info">Проект, созданный облегчить игрокам поиск необходимых скинов</h2>
  <app-search-box (inputValueEvent)="onInputChanged($event)"></app-search-box>
  <div class="d-flex flex-column mt-3">
    <p class="info-header">Как осуществлять поиск?</p>
    <ul class="tips-list">
      <li>По фракции: ЛКН, вагос, ПД и т.д.</li>
      <li>По внешнему виду персонажа: чёрная обувь, серый низ, красный верх(или если очевиден тип одежды, например, рубашка - красная рубашка), жёлтая каска, фиолетовая бандана и т.д.</li>
      <li>По принадлежности по какому-либо признаку: бомж, старуха, мужчина/женщина, лысый, ирокез, мафия, пляж, байкер и т.д.</li>
      <li>По имени персонажа: Вузи, Мэдд Догг, Цезарь, Свит, Райдер и т.д </li>
      <li>Критерии разделяются запятой. Примеры запроса: грув, зелёная рубашка/зелёный верх; чёрные очки, мужчина; пд, бежевая шляпа; шлюха, красная юбка/красный низ </li>
    </ul>
  </div>
  <ng-container *ngIf="isSkinsFound; else notFound">
    <p class="skins-list-header mt-5">Скинов найдено: <span style="color: #81FF95">{{skins.length}}</span> </p>
    <div class="row px-2">
      <div @cardsAnims class="col-12 col-sm-6 col-lg-4 d-flex flex-column justify-content-center" *ngFor="let skin of skins">
        <div class="d-block">
          <div class="img-container img-border" *ngIf="skin.imageUrl != 'Empty'; else noImage">
            <img alt="none" src="{{skin.imageUrl}}" class="img-fluid img-zoom" >
          </div>
          <ng-template #noImage>
            <p class="not-found-info mb-auto">Нет данных</p>
          </ng-template>
          <p class="skin-id">ID: {{skin.id}}</p>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #notFound>
    <div class="d-flex flex-column justify-content-center align-items-center mt-5">
      <svg width="75px" height="75px" fill="gray" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.828 5l-1-1H22v15.172l-1-1v-.69l-3.116-3.117-.395.296-.714-.714.854-.64a.503.503 0 0 1 .657.046L21 16.067V5zM3 20v-.519l2.947-2.947a1.506 1.506 0 0 0 .677.163 1.403 1.403 0 0 0 .997-.415l2.916-2.916-.706-.707-2.916 2.916a.474.474 0 0 1-.678-.048.503.503 0 0 0-.704.007L3 18.067V5.828l-1-1V21h16.172l-1-1zM17 8.5A1.5 1.5 0 1 1 15.5 7 1.5 1.5 0 0 1 17 8.5zm-1 0a.5.5 0 1 0-.5.5.5.5 0 0 0 .5-.5zm5.646 13.854l.707-.707-20-20-.707.707z"/>
        <path fill="none" d="M0 0h24v24H0z"/></svg>
      <p class="not-found-info" style="color:white">Ничего не найдено...</p>
    </div>
  </ng-template>
</div>

