<div class="container-fluid pt-5">
  <h1 class="thanks_header mb-4">Большое спасибо игрокам Monser №1<br>
    <span style="color:#81FF95">Mylatochka</span> и <span style="color:#81FF95">Vadim_Akufenko</span>
  <br>за помощь в создании этого проекта!</h1>
  <div class="row">
    <div class="col-12 col-sm-6 mb-4">
      <div class="img-container img-border">
        <img src="https://i.imgur.com/TGOOVww.jpg" class="img-fluid img-zoom">
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="img-container img-border">
        <img src="https://i.imgur.com/izcAdsn.jpg" class="img-fluid img-zoom">
      </div>
    </div>
  </div>
  <a routerLink="" class="footer-link">На главную</a>
</div>
